// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home
{
    #logo
    {
      position: relative;
      width: 40px !important;
      height: 40px;
    }

   .navbar-default
   {
     background-color: #435060;
     border: 1px solid #435060;
   }

   .navbar-brand
   {
     position: relative;
     color: #c6d202 !important;
   }

   font-size: 16px;
   color: #435060;
   position: relative;

  .top { margin-top: 10px; }
  .padding { padding: 10px; }

  #presenter
  {
    position: relative;
    background-color: #435060;
    width: 100%;
    background: url("banner.png") no-repeat center;
    margin-top: -20px;
    height: 326px;

    .list-unstyled
    {
      position: relative;
      bottom: -20px;
    }

    .video-border
    {
      background-color: #c6d202;
      width: 83px;
      height: 32px;
      right: 0px;
      margin-bottom: 10px;
     }

     .mobile-border
     {
       background-color: #c6d202;
       width:170px;
       height: 32px;
       right: 0px;
       margin-bottom: 10px;
      }

    h3
    {
     padding: -5px;
     position: relative;
     color: #FFF;
     font-weight: bold;
     margin-top: 4px;
     padding-right: 4px;
    }

  }

  #about
  {
    position: relative;
    h1
    {
      color: rgb(199,211,1);
      font-family: "Helvetica";
      text-transform: uppercase;
    }
    p
    {

      color: rgb(52,73,85);
      font-family: "Helvetica-Light";
      font-weight: normal;
      text-align: center;
    }
    a
    {
      position: relative;
      background-color: #435060;
      border: 1px solid #435060;
      color: #FFF;
      border-radius: 0px !important;
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  #links
  {
    padding: 0px;
    padding-top: 13px;
    padding-bottom: 0px;
    margin-top: 40px;
    background-color: #c6d202;
    font-size: 14px;
    height: 41px;
    font-size: 14px;
    .list-inline
    {
      li
      {
       display: inline-block;
       padding-left: 0px !important;
       padding-right: 0px !important;
       margin-left: 0px;
       margin-right: -2px;
      }
    }
    .breadcrumb
    {
      position: relative;
      font-size: 11px !important;
      background-color: inherit;
      padding: 0px;
      li:before
      {
        context: "/ ";
        color: #FFF !important;
      }
    }
    a
    {
      color: #FFF;
      padding-top: 10px;
    }
  }

  #products
  {
    position: relative;

    .bottom-bar
    {
      background-color: #c6d202;
      margin-top: -10px;
      margin-left: 71px;
      height: 5px;
      width: 125px;
    }

    .product-block
    {
     border: 2px solid #CCC;
     margin-bottom: 15px;
    }

    .logo
    {
      width: 100%;
      height: 115px;
      /* padding: 5px; */
      transition: 0.50s;
      /* border: 1px solid #CCC; */
      padding: 21px;
      &:hover, &.over
      {
        position: relative;
        opacity: 0.70;
        transition: 0.50s;
      }

    }

    p
    {
      margin-bottom: -5px;
      margin-top: 4px;
      text-transform: uppercase;
      font-size: 12px;
      font-family: sans-serif;
     }

    h2
    {
      position: relative;
      font-family: 'Helvetica-Bold';
    }
    a
    {
      position: relative;
      background-color: #435060;
      border: 1px solid #435060;
      color: #FFF;
      border-radius: 0px !important;
      text-transform: uppercase;
      font-weight: bold;
      transition: 0.50s;
      &:hover, &.over
      {
        background-color: #2d3948;
        border: 1px solid #2d3948;
        transition: 0.50s;
        cursor: pointer;
      }
    }
  }

  #cases
  {
    position: relative;
    margin-bottom: 30px;

    .logo
    {
      position: relative;
      width: 164px;
      height: 164px;
    }

    .bottom-bar
    {
      background-color: #c6d202;
      margin-top: -10px;
      margin-left: 121px;
      height: 5px;
      width: 76px
    }

    a
    {
      border: 1px solid  #c7d401;
      background-color: #FFF;
      color: #c7d401;
      border-radius: 0px !important;
      text-transform: uppercase;
      font-weight: bold;
      transition: 0.50s;
      &:hover, &.over
      {
        position: relative;
        background-color: #c7d401;
        color: #FFF;
        transition: 0.50s;
      }
    }
  }

  #midia
  {
    position: relative;
    background-color: #c7d401;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    padding-top: 20px;

    a
    {
      position: relative;
      background-color: inherit;
      color: #FFF;
      border: 1px solid #FFF;
      border-radius: 0px !important;
      text-transform: uppercase;
      font-weight: bold;
      transition: 0.50s;
      &:hover, &.over
      {
       position: relative;
       color: #c7d401;
       background-color: #FFF;
       border: 1px solid #FFF;
       cursor: pointer;
       transition: 0.50s
      }
    }

  }

  #academy
  {
    background: linear-gradient(#FFF, #CCC);
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 10px;
    color: #767f88;

    #academy-presenter
    {
      position: relative;
      background-color: url('academy.png') no-repeat repeat !important;
      height: 220px;
    }

    h2
    {
      position: relative;
      color: #c7d401;
      font-weight: bold;
      text-transform: uppercase;
     }

    a
    {
      position: relative;
      background-color: #435060;
      border: 1px solid #435060;
      color: #FFF;
      text-transform: uppercase;
      font-weight: bold;
      border-radius: 0px !important;
      transition: 0.50s;
      &:hover, &.over
      {
        background-color: #2d3948;
        border: 1px solid #2d3948;
        cursor: pointer;
        transition: 0.50s;
      }
    }

  }

  #anouncements
  {
    .bottom-bar
    {
     background-color: #c6d202;
     margin-top: -1px;
     margin-bottom: 11px;
     margin-left: 61px;
     height: 5px;
     width: 125px;
    }
  }

  #publishers
  {
    .bottom-bar
    {
     background-color: #c6d202;
     margin-top: -1px;
     margin-bottom: 11px;
     margin-left: 76px;
     height: 5px;
     width: 125px;
    }
  }

  #publishers, #anouncements
  {
    position: relative;
    background-color: #e2e2e2;
    color: #788188;
    padding-bottom: 10px;
    margin-bottom: 10px;

    a
    {
      border: 1px solid #435060;
      background-color: #435060;
      color: #FFF;
      font-weight: bold;
      text-transform: uppercase;
      border-radius: 0px !important;
      transition: 0.50s;
      &:hover, &.over
      {
        background-color: #2d3948;
        border: 1px solid #2d3948;
        cursor: pointer;
        transition: 0.50s;
      }
    }
  }

  #help
  {
    background-color: #c7d401;
    color: #424f60;
    padding-bottom: 20px;
    margin-bottom: 10px;
    padding-top: 15px;

    a
    {
      position: relative;
      background-color: inherit;
      border: 1px solid #FFF;
      color: #FFF;
      text-transform: uppercase;
      font-weight: bold;
      border-radius: 0px !important;
      font-size: 14px;
      transition: 0.50s;
      &:hover, &.over
      {
        position: relative;
        background-color: #FFF;
        color: #c7d401;
        border: 1px solid #FFF;
        cursor: pointer;
        transition: 0.50s;
      }
    }

  }

  footer
  {
    padding-top: 30px;
    padding-bottom: 15px;
    position: relative;
    background-color: #435060;
    color: #c7cbce;

    .social-box
    {
      position: relative;
      background-color: #242e3a;
      width: 44px;
      height: 44px;
      border-radius: 10px;
      margin-bottom: 20px;
      i
      {
        position: relative;
        font-size: 29px;
        color: #FFF;
        padding-top: 8px;
      }

    }

  }

}
