<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <ul class='list-unstyled text-center'>
            <ul class='list-inline'>
               <li><div class='social-box'><%= fa_icon "instagram" %></div></li>
               <li><div class='social-box'><%= fa_icon "linkedin"  %></div></li>
               <li><div class='social-box'><%= fa_icon "facebook"  %></div></li>
            </ul>
            <li>&copy <%= Date.today.year %> Hands Mobile Experience.
            Todos os direitos reservados.</li>
          </ul>
      </div>
    </div>
  </div>
</footer>
